{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <textarea rows = "1" cols = "10" name = "title" style="height: 40px; padding: 5px; margin:10px" placeholder ="Enter Title"></textarea><br>
        <textarea rows = "2" cols = "10" name = "content" style="height: 400px; padding: 5px; margin:10px" placeholder="Enter Content.."></textarea><br>
        <input type="submit" value="SAVE" style="margin: 10px; color:white; background-color:blue; border: 0px">
    </form>
   
{% endblock %}